.form-main {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    width: 40vw;
    position: absolute;
    top: 20%;
    left: 25%;
    padding: 0.8rem;
    background-color: white;
    /* border: 1px solid black; */
    z-index: 1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    /* color: #58595b; */

}
.add-opt{
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    /* border: 1px solid red; */
}

.head-div {
    display: flex;
    justify-content: center;
    /* position: relative; */
    margin-top: 1rem;
    width: 98vw;
    /* height: 100vh; */
}

.item-form {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
    border: none;
    padding: 0.2rem;
    border-radius: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    /* box-shadow: 0px 0px 10px grey; */
    text-align: center;
    color: #58595b;
}

.common-forfirst-last {
    display: flex;
    justify-content: space-between;
    gap: 0.6rem;

}

.form-parent {
    display: flex;
    justify-content: center;
    height: 90vh;
    /* border: 2px solid grey; */
}

input {
    width: 99%;
    padding: 0 0.8rem;
    border: none;
    outline: none;
    /* border-color: none; */
    border-radius: 0.6rem;
    /* margin-bottom: 0.5rem; */
}

.fr-btn {
    display: flex;
    justify-content: center;
    /* width: 6rem; */
}

.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 8rem;
    margin-left: 1rem;
    border-radius: 0.2rem;
}

.form-heading {
    font-weight: 700;
    font-size: large;
    text-align: center;
    margin: 0px, 2rem, 2rem;
    margin-bottom: 1.5rem;
    /* padding: 2rem; */
}

.tgl-btn {
    /* background-color: blue; */
    width: 15rem;
    border: 1px #f1f1f1 solid;
    min-height: 12rem;
    /* margin: 7% 0; */
    /* margin-top: 100px; */
}

.left-ctn-address {
    display: flex;
    width: 50vw;
    justify-content: space-around;
}

.right-ctn-address {
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
    border: none;
}
.crt-dtl{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #58595b;
    padding: 0 0.5rem;
    margin: 0;
    text-align: center;
}
/* p{
    margin: 0;
    padding: 0.6rem;
} */
.rt-Crt-cnt{
    margin-top: 1.5rem;
    /* border: 5px solid red; */
    padding: 0;
}
.odr-btn{
    width: 100%;
    background-color: #298E83;
    color: white;
    padding: 0.35rem;
    border-radius: 0.3rem;
}
.address-box{
    /* border: 5px solid red; */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    width: 15rem;
    padding: 0.8rem;
    background-color: #EEEEEE;
    /* text-align: center;   */
}
/* h3{
    font-size: 1.5rem;
} */
.add-name {
    font-size: larger;
    font-weight: 700;
    text-transform: capitalize;
}

/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 700;
    font-size: large;
    font-style: normal;
    /* text-transform: capitalize; */
}

/* Form Main Container */
.form-main {
    display: flex;
    flex-direction: column;
    width: 40vw;
    position: absolute;
    top: 20%;
    left: 30%; /* Adjusted left position for better centering */
    padding: 0.8rem;
    background-color: white;
    z-index: 1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Mobile and Tablet Views */

/* Tablet View */
@media (max-width: 768px) {
    /* Adjust form-main */
    .form-main {
        position: relative; /* Remove absolute positioning */
        width: 100vw; /* Adjust width */
        left: 20%; /* Center the form container */
        top: 15%; /* Adjust top position */
        padding: 1rem; /* Adjust padding */
    }

    /* Adjust other containers and components */
    .left-ctn-address,
    .right-ctn-address {
        width: 80%; /* Full width for each container */
        flex-direction: column; /* Stack containers vertically */
    }

    .crt-dtl,
    .address-box,
    .odr-btn,
    .add-opt,
    .head-div {
        margin: 0.5rem 1rem; /* Add margin for separation */
        flex-direction: column;
    }
}

