.global-container{
    margin-top:4rem;
    /* overflow-x: hidden; */
}
.toggle-btn-container{
    margin-top: 2rem;
   margin-left: 28rem;
   
}
.btn-toggle{
    padding: 10px;
    margin-left: 2rem;
    width: 12rem;
    
}
.img{
    width: 100vw;
}
