/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.top-footer-heading{
    background-color: red;
    padding: 0.5npmrem;
    color: white;
    text-align: center;
    margin-top: 1rem;
}
.bottom-footer-heading{
    text-align: center;
    color: black;
    padding: 1rem;
    font-size: 2.5rem;
}
.heading-sub{
    font-weight: 1000;
    font-size: 2.5rem;
}
.red-head{
    color: red;
    padding: 2rem 0.7rem 1rem;

}
.main-footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: #E6E7E8;
}
.sub-footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
