* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    width: 98vw;
    display: flex;
    justify-content: space-between;
    /* overflow-x: hidden; */
    margin-top: 8rem;
}

.left-container {
    display: grid;
    width: 60vw;
    grid-template-columns: 50% 50%;
    width: 50vw;
    padding: 0 10px 0 10px;

}

.right-container {
    width: 40vw;
    /* border: 1px solid black; */
    position: relative;

}

.img-container {
    width: 97%;
    margin-bottom: 0.6rem;
    cursor: pointer;
    height: fit-conten;
}
.img-container:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
   }

.size-parent {
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.itemsize {
    border: 2px solid #808080;
    width: 4rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
}

.name {
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
}

.bold {
    font-size: 20px;
    font-weight: 500;
}

.quantity select{
    margin: 20px 0;
    cursor: pointer;
}

.wish-btn{
    width: 200px;
    height: 40px;
    margin: 0 20px;
    border-radius: 5px;
}

.cart-btn {
    background-color: #EC3D25;
    margin: 0 20px 10px 0;
    width: 200px;
    height: 40px;
    margin: 0 20px;
    border-radius: 5px;
}

.activSize {
    border:3px solid #117A7A;
}

.btn-container {
    display: flex;
    justify-content: left;
}

.addedsuccessfully{
    width: 380px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 230px;
    padding: 3px;
    z-index: 0;
}