*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  font-weight: 700;
  font-size: large;
  font-style: normal;
}
.main-addCart-container{
    margin: 30px;
    width: 96vw;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 10px 0 10px;
}

.leftCart-container{
    width: 60vw;
    flex-direction: column;
   
}
.rightCart-container{
 
    /* border: 2px solid blue; */
    padding: 1.5rem;
}
.address-bar {
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgba(128, 128, 128, 0.568);
    padding: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    /* margin-left: 3rem; */
}
.cont-btn{
    justify-content: center;
}
.order-btn{
    width: 20rem;
    border-radius: 0.5rem;
}
.address-btn{
    width: 5rem;
    columns: #117A7A;
    font-weight: 700;
    background: none;
    border: none;
}
.address-para{
    text-align: center;
}
.crt-heading{
    font-weight: 700;
    margin-top: 8rem;
    text-align: center;
}

.subLeft{
    /* height: 50px; */
    width: 100%;
    /* border: 0.5px solid grey; */
    background-color: #F5F5F5;
    justify-content: space-between;
    /* margin-left: 2rem; */
    margin-bottom: 2rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    /* box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); */
    
}
.addCart-img{
    height: 15rem;
    width: 12rem;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.subright{
    width: 70%;
    /* border: 1px solid black; */
    flex-direction: column;
    /* align-items: start; */
    padding-bottom: 1rem;
}
.size{
    margin-right: 2rem;
    border: 1px solid black;
}
.width-100{
    width: 100%;
    margin-top: 3rem;
}
.prd-container{
    /* border: 2px solid purple; */
    /* width: 70vw; */
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
}
.btns-del-add{
    justify-content: end;
    padding: 1rem;
    /* align-content: space-between; */
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}
.remove-del{
    border: none;
    padding: 1rem;
    font-weight: 600;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.price{
    font-weight: 700;
}
.qty-size{
    /* border: 1px solid grey; */
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.514);

}
.ct{
    justify-content: space-between;
    padding: 0.9rem;
    border: 1px solid grey;
    align-items: center;
    text-align: center;
    margin-bottom: none ;

}
.order-btn{
    padding: 0.5rem;
    text-align: center;
    color: white;
    background-color: #298E83;
}

.bill-heading{
    font-weight: 700;
    padding: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.clear-cart-btn{
    width: 20rem;
    padding: 0.5rem;
    justify-content: center;
    color: #298E83;
    border-radius: 0.5rem;
    text-align: center;
    margin-left: 15rem;
    font-weight: 700;
    border: none;
    box-shadow: 0 15px 15px #fbe4e088;
}
.bill-details{
    margin-bottom: 2rem;
}
.address-box-crt p{
text-align: center;
margin: 0;
}
/* .address-footer{
    margin-top: 4rem;
} */
.productcart-nf{
    width:90vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.productcart-nf img{
 width: 10rem;
}
.productcart-nf h3{
    font-size: 16px;
    font-weight: 700;
   }
   .productcart-nf p{
    font-size: 16px;
    color: #808080;
   }
.productcart-nf div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .productcart-nf button{
    color: #3b70da;
    border: 1px solid #3b70da;
    padding: 5px;
   }
  .bagaddpay{
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 760px){
    
    .listsort-sec {
        display: flex;
        gap: 30px;
    }
   
  }
  