
/* Base Styles */
.toTopBox {
    border: 1px solid #94876C;
    border-radius: 1px;
    margin-top: 8rem;
    padding: 1rem;
    width: 97vw;
    margin-left: 20px;
    background-color: #FCF8E3;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
}

.orderHeading {
    text-align: center;
    font-weight: 800;
    font-size: larger;
    padding-top: 2rem;
    
}

.order-container {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-left: 70px;

}

.order-img {
    width: 100%;
    height: 60%;
}

.order-card-ctn {
    width: 18rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    border-radius: 1rem;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.oredr-item {
    padding-left: 1rem;
}

/* Media Queries */

/* Tablet View */
@media (max-width: 1024px) {
    /* Adjust toTopBox */
    .toTopBox {
        width: 100vw;
        margin-top: 4rem;
    }

    /* Adjust order container */
    .order-container {
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    /* Adjust order card container */
    .order-card-ctn {
        width: 40%;
        height: auto;
        margin-top: 1rem;
    }
}

/* Mobile View */
@media (max-width: 768px) {
    /* Adjust toTopBox */
    .toTopBox {
        width: 100vw;
        margin-top: 2rem;
        padding: 0.5rem;
    }

    /* Adjust order container */
    .order-container {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    /* Adjust order card container */
    .order-card-ctn {
        width: 90%;
        height: auto;
        margin-top: 1rem;
    }

    /* Adjust order image */
    .order-img {
        width: 100%;
        height: auto;
    }
}
